/* TODO: CORRECT THE :HOVER OPTIONS */

header > div > div > .btn :hover{
	background-color: rgba(220, 220, 220, 0.8);
}

.nav-group-item :hover{
	background-color: rgba(220, 223, 225, 0.6);
}

#directorycontentsview{
	overflow-y: auto;
}

#directorycontentsview > li :hover{
	background-color: rgba(220, 223, 225, 0.6);
}

#sidemenu > ul.list-group-header{
	text-align: center;
}

#centerpane{
	padding: 7px;
}
