/* TODO: CORRECT THE :HOVER OPTIONS */

body{
	background-color: black;
}

header{
	-webkit-app-region: drag;
	user-select: none;
}

header > div > div > .btn {
	-webkit-app-region: no-drag;
}

/* header > div > div > .btn :hover{
	background-color: rgba(220, 220, 220, 0.8);
} */

/* .nav-group-item :hover{
	background-color: rgba(220, 223, 225, 0.6);
} */

.hoverable:hover{
	background-color: rgba(220, 223, 225, 0.6);
}

.pane{
	background-color: rgba(10, 10, 60, 0.4)
}

#directorycontentsview{
	overflow-y: auto;
}

#directorycontentsview > li :hover{
	background-color: rgba(220, 223, 225, 0.6);
}

#sidemenu > ul.list-group-header{
	text-align: center;
}

#centerpane{
	padding: 7px;
	height: 500px;
	overflow-y: hidden;
}

/* does not work */
/* to serve as clearfix */
#videoplayer::after{
	content: '';
	clear: both;
}
